<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="patient">
      <h2 data-cy="patientDetailsHeading"><span>Patient</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ patient.id }}</span>
        </dd>
        <dt><span>First Name</span></dt>
        <dd>
          <span>{{ patient.firstName }}</span>
        </dd>
        <dt><span>Last Name</span></dt>
        <dd>
          <span>{{ patient.lastName }}</span>
        </dd>
        <dt><span>Birthdate</span></dt>
        <dd>
          <span>{{ patient.birthdate | formatMediumDate }}</span>
        </dd>
        <dt><span>Created Date</span></dt>
        <dd>
          <span>{{ patient.createdDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Updated Date</span></dt>
        <dd>
          <span>{{ patient.updatedDate | formatMediumDatetime }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/patient', patient.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
