<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="prescription">
      <h2 data-cy="prescriptionDetailsHeading"><span>Prescription</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ prescription.id }}</span>
        </dd>
        <dt><span>Dosage Amount</span></dt>
        <dd>
          <span>{{ prescription.dosageAmount }}</span>
        </dd>
        <dt><span>Dosage Interval</span></dt>
        <dd>
          <span>{{ prescription.dosageInterval }}</span>
        </dd>
        <dt><span>Created Date</span></dt>
        <dd>
          <span>{{ prescription.createdDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Updated Date</span></dt>
        <dd>
          <span>{{ prescription.updatedDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Drug</span></dt>
        <dd>
          <div *ngIf="prescription.drug">
            <a [routerLink]="['/drug', prescription.drug.id, 'view']">{{ prescription.drug.id }}</a>
          </div>
        </dd>
        <dt><span>Patient</span></dt>
        <dd>
          <div *ngIf="prescription.patient">
            <a [routerLink]="['/patient', prescription.patient.id, 'view']">{{ prescription.patient.id }}</a>
          </div>
        </dd>
        <dt><span>Doctor</span></dt>
        <dd>
          <div *ngIf="prescription.doctor">
            <a [routerLink]="['/doctor', prescription.doctor.id, 'view']">{{ prescription.doctor.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/prescription', prescription.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
